body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f1f1f1;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: Raleway, sans-serif;
}

b,
strong {
  font-weight: bolder;
}

#head {
  padding: 60px 10px;
  justify-content: center;
  text-align: center;
}

#headspan {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.thebody {
  display: flex;
  gap: 30px;
}

.big1 {
  width: 60%;
}

.big2 {
  width: 34%;
}

.container1 {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 1px 2px 2px 2px #c0c0c0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.containerimage img {
  width: 100%;
}

.containerheading span {
  color: #888;
}

.button1 {
  padding: 20px 30px;
  border: 0.1px solid;
  background-color: #fff;
  margin-bottom: 20px;
}

button:hover {
  background-color: #888;
}

.containerfooter {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#comment1 {
  background-color: #000;
  color: #fff;
  padding: 2px 6px;
}

.container2 {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 1px 2px 2px 2px #c0c0c0;
  margin-bottom: 30px;
}

.container2 p {
  margin-bottom: 20px;
}

.container3 {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: grid;
  box-shadow: 1px 2px 2px 2px #c0c0c0;
  margin-bottom: 30px;
}

#comment2 {
  background-color: #000;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
}

.container4 {
  max-width: 100%;
  background-color: #fff;
  box-shadow: 1px 2px 2px 2px #c0c0c0;
  margin-bottom: 30px;
}

.containerhead {
  padding: 2px 7px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}

.container4 a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  margin-top: 10px;
}

.container4 a:hover {
  color: #888;
}

.container4-11 img {
  height: 15%;
  width: 15%;
  margin-left: 7px;
}

.container1 h2,
h3,
p {
  margin-left: 9px;
}

.container2 h2,
h3,
p {
  margin-left: 9px;
}

.container3 h2,
h3,
p {
  margin-left: 9px;
}

.container4 h2,
h3,
p {
  margin-left: 9px;
}

.container5 h2,
h3,
p {
  margin-left: 9px;
}

.container5 {
  width: 100%;
  height: 150px;
  background-color: #fff;
  box-shadow: 1px 2px 2px 2px #c0c0c0;
  margin-bottom: 30px;
}

.tag1 {
  background-color: #000;
  color: #fff;
  margin: 10px;
  font-size: 11px;
}

.tag {
  background-color: #f1f1f1;
  margin: 10px;
  font-size: 14px;
  margin-bottom: 40px;
}

.thefoot {
  background-color: #888;
  margin: 0;
  padding: 20px 30px;
}

.foot1 {
  background-color: #000;
  color: #fff;
  padding: 14px 16px;
  border: none;
  opacity: 0.5;
}

.foot2 {
  background-color: #000;
  color: #fff;
  padding: 14px;
  border: none;
}

.foot button:hover {
  background-color: #888;
}

@media screen and (max-width: 526px) {
  .thebody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .big1 {
    width: 100%;
  }

  .big2 {
    width: 100%;
  }

  .comment {
    display: none;
  }

  .container5 {
    align-items: center;
    justify-content: center;
  }

  .container1,
  .container2,
  .container3,
  .container4,
  .container5 {
    margin-bottom: 20px;
    width: 100%;
  }

  .container4 {
    margin-left: 20px;
  }
  
  #i {
    display: none;
  }
}
